# Ignore app/node_modules folder
node_modules/
# Ignore app/api-gateway/node_modules folder
api-gateway/node_modules/

# Ignore app/frontend/node_modules folder
frontend/node_modules/

# Ignore app/user-service/node_modules folder
user-service/node_modules/

# Ignore app/auth-service/node_modules folder
auth-service/node_modules/

# Ignore app/account-service/node_modules folder
account-service/node_modules/

# Ignore app/bed-service/node_modules folder
bed-service/node_modules/

# Ignore app/catering-service/node_modules folder
catering-service/node_modules/

# Ignore app/elderly-service/node_modules folder
elderly-service/node_modules/

# Ignore app/employee-service/node_modules folder
employee-service/node_modules/

# Ignore app/financial-service/node_modules folder
financial-service/node_modules/

# Ignore app/health-service/node_modules folder
health-service/node_modules/

# Ignore app/notification-service/node_modules folder
notification-service/node_modules/

# Ignore app/z-DataBase folder
z-DataBase/

# Ignore app/z-template folder
z-template/