<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chinaz</title>
    <!-- 1.框架样式：Bootstrap Styles-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- 2.图标样式：FontAwesome Styles-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <!--3.普通样式：Custom Styles-->
    <link href="/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- 4.字体样式：Google Fonts-->
    <link
      href="http://fonts.useso.com/css?family=Open+Sans"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <div id="wrapper">
      <!-- 顶部导航条 -->
      <%- include('../block/top-navbar_other.ejs') %>
      <!-- 左侧导航条 -->
      <%- include('../block/navbar-side.ejs') %>

      <div id="page-wrapper">
        <div class="header">
          <h1 class="page-header">
            User Information Page <small>View and update your details.</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">User Info</li>
          </ol>
        </div>

        <div id="page-inner">
          <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default">
                <div class="panel-heading">User Information</div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <form
                        action="/user/updatePassword"
                        method="post"
                        role="form"
                      >
                        <ul>
                          <li>
                            <div class="form-group">
                              <span><label for="userId">User ID:</label></span>
                              <span id="userId" class="form-control-static">
                                U001</span
                              >
                            </div>
                          </li>
                          <li>
                            <div class="form-group">
                              <span><label for="account">Account:</label></span>
                              <span id="account" class="form-control-static">
                                account_name</span
                              >
                            </div>
                          </li>
                          <li>
                            <div class="form-group">
                              <span
                                ><label for="userName">User Name:</label></span
                              >
                              <span id="userName" class="form-control-static">
                                user_name</span
                              >
                            </div>
                          </li>
                          <li>
                            <div class="form-group">
                              <span
                                ><label for="phoneNumber"
                                  >Phone Number:</label
                                ></span
                              >
                              <span
                                id="phoneNumber"
                                class="form-control-static"
                              >
                                123-456-7890</span
                              >
                            </div>
                          </li>
                          <li>
                            <div class="form-group">
                              <span><label for="email">Email:</label></span>
                              <span id="email" class="form-control-static">
                                xiongwang@126.com</span
                              >
                            </div>
                          </li>
                          <li>
                            <div class="form-group">
                              <span><label for="role">Role:</label></span>
                              <span id="role" class="form-control-static">
                                role_name</span
                              >
                            </div>
                          </li>
                        </ul>

                        <input
                          type="hidden"
                          name="password"
                          value="newPassword"
                        />
                        <!-- Hidden password field -->

                        <button type="submit" class="btn btn-primary">
                          Update Password
                        </button>
                        <button
                          type="reset"
                          class="btn btn-secondary"
                          onclick="window.location.href='/user/';"
                        >
                          Return
                        </button>
                      </form>

                      <div id="message" class="mt-3">
                        <!-- Message logic remains the same -->
                        <!-- <% if (typeof message !== 'undefined' && message !== null) { %>
                        <div class="alert alert-success"><%= message %></div>
                        <% } %> -->
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.panel-body -->
              </div>
              <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
          </div>
        </div>

        <!-- /. PAGE INNER  -->
      </div>

      <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->s
    <script src="/assets/js/jquery.metisMenu.js"></script>
    <!-- Custom Js -->
    <script src="/assets/js/custom-scripts.js"></script>
  </body>
</html>
