<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chinaz</title>
    <!-- 1.Bootstrap Styles使用Bootstrap框架样式-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <!--href 属性指定了要引入的 CSS 文件的路径-->
    <!-- 2.FontAwesome Styles图标样式-->
    <!--FontAwesome是一个流行的图标库-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!--rel 的值通常是 "stylesheet"，表示这是一个样式表。-->
    <!-- 3.Morris Chart Styles图表样式-->
    <link href="/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- 3.轻量级图表样式-->
    <link rel="stylesheet" href="/assets/js/Lightweight-Chart/cssCharts.css" />
    <!-- 4.Custom Styles普通样式-->
    <link href="/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- 5.Google Fonts字体-->
    <link
      href="http://fonts.useso.com/css?family=Open+Sans"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      .hidden {
          display: none;
      }
  </style>
  </head>

  <body>
    <div id="wrapper">
      <!-- 顶部导航条 -->
      <%- include('../block/top-navbar.ejs') %>  
       <!-- 左侧导航条 -->
      <%- include('../block/navbar-side.ejs') %> 
      <div id="page-wrapper">
        <!-- 定义一个ID为page-wrapper的容器，通常用于包裹页面主要内容 -->
        <div class="header">
          <!-- 定义一个类为header的容器，用于页面头部内容 -->
          <h1 class="page-header">
            <!-- 定义页面标题，包含主要标题和次要标题 -->
            Dashboard
            <small>Welcome  <%= userName %></small>
          </h1>
          <ol class="breadcrumb">
            <!-- 定义一个面包屑导航，帮助用户了解当前位置 -->
            <li><a href="#">Home</a></li>
            <!-- 面包屑导航项，指向主页 -->
            <li><a href="#">Dashboard</a></li>
            <!-- 面包屑导航项，指向仪表板 -->
            <li class="active">Data</li>
            <!-- 当前页面的面包屑导航项，显示为活跃状态 -->
          </ol>
        </div>
        <div id="page-inner">
          <!-- /. ROW  -->

          <div class="row">
            <div class="col-md-5">
              <div class="panel panel-default">
                <div class="panel-heading">Elderly Health Status Line Chart</div>
                <div class="panel-body">
                  <div id="morris-line-chart"></div>
                </div>
              </div>
            </div>

            <div class="col-md-7">
              <div class="panel panel-default">
                <div class="panel-heading">Caregiver Workload Bar Chart</div>
                <div class="panel-body">
                  <div id="morris-bar-chart"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">Elderly Activity Area Chart</div>
                <div class="panel-body">
                  <div id="morris-area-chart"></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">Elderly Satisfaction Donut Chart</div>
                <div class="panel-body">
                  <div id="morris-donut-chart"></div>
                </div>
              </div>
            </div>
          </div>
         
          <!-- /. ROW  -->



        <!-- /. PAGE INNER  -->
      </div>
      <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Metis Menu Js -->
    <script src="/assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/assets/js/morris/morris.js"></script>

    <script src="/assets/js/easypiechart.js"></script>
    <script src="/assets/js/easypiechart-data.js"></script>

    <script src="/assets/js/Lightweight-Chart/jquery.chart.js"></script>

    <!-- Custom Js -->
    <script src="/assets/js/custom-scripts.js"></script>

    <script></script>
  </body>
</html>
