<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>


       <% if (typeof err !== 'undefined' && err) { %>
            <div class="error-message"><%= message %></div>
        <% } %>
        
        <form action="/auth/login" method="post" id="login-form">
           
            <label for="userName">Username:</label>
            <input type="text" id="userName" name="userName" required>
            <br>
            <label for="passWord">Password:</label>
            <input type="passWord" id="passWord" name="passWord" required>
            <br>
            <button type="submit">Login</button>
        </form>
    </div>
  
</body>

</html>
