<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <style>
      body,
      html {
        height: 100%;
        margin: 0;
        background-color: #f0f0f0; /* 设置整个背景为浅灰色 */
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center; /* 水平居中 */
        align-items: center; /* 垂直居中 */
      }
      .container {
        display: flex;
        width: 900px; /* 设置容器总宽度 */
        height: 500px; /* 使用固定高度 */
        overflow: hidden; /* 防止内容溢出 */
        background-color: #ffffff; /* 将背景颜色设置为图片的主体颜色 */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
        border-radius: 15px; /* 添加圆角 */
      }
      .image-container,
      .login-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%; /* 各占50%宽度 */
        height: 100%;
        margin: 0; /* 确保没有间距 */
      }
      .image-container img {
        width: auto;
        height: 100%;
        object-fit: cover; /* 确保图片按比例缩放 */
      }
      .login-form {
        width: 80%;
        max-width: 300px; /* 设置最大宽度 */
        padding: 20px;
        background-color: white; /* 保持表单背景为白色，突出表单 */
        border-radius: 10px; /* 添加圆角 */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
        border: 1px solid #ccc; /* 添加边框 */
      }
      .login-form h1 {
        text-align: center;
        margin-bottom: 20px;
      }
      .login-form label,
      .login-form input,
      .login-form button {
        display: block;
        width: 100%;
        margin: 10px 0;
      }
      .login-form input,
      .login-form button {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px; /* 添加圆角 */
      }
      .login-form button {
        background-color: #4caf50; /* 设置按钮背景颜色 */
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      .login-form button:hover {
        background-color: #45a049; /* 设置按钮悬停时背景颜色 */
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="image-container">
        <img src="/images/login/image1.jpg" alt="左侧图片" />
      </div>
      <div class="login-container">
        <div class="login-form">
          <h1>登录</h1>
          <% if (typeof err !== 'undefined' && err) { %>
          <div class="error-message"><%= message %></div>
          <% } %>
          <form action="/auth/login" method="post" id="login-form">
            <label for="userName">用户名：</label>
            <input type="text" id="userName" name="userName" required />
            <label for="passWord">密码：</label>
            <input type="password" id="passWord" name="passWord" required />
            <button type="submit">登录</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
